{% extends 'base.html' %}
{% load bootstrap_ui_tags %}
{% load bootstrap3 %}

{% block title %}Login{% endblock %}

{% block content %}

    <!-- bodywrap -->
    <div id="bodywrap">
        {% container %}

            <h2 class='form-header'>Login</h2>

            {% row %}
                {% column xs="12" sm="3" %}

                <form method='POST' action=''>

                    {% csrf_token %}
                    {% bootstrap_form form %}

                    <!-- register button -->
                    <input type='submit' class='btn btn-default' value='Register'/>
                    <span class='error-message'>{{ error }}</span>

                </form>


                {% endcolumn %}
            {% endrow %}

            {% row %}
                {% column xs="12" sm="3" %}

                <!-- link to login page -->
                <form method='GET' action='/login/'>
                    <div class='form-field-column col-xs-6 col-sm-6 col-md-6 col-lg-6'>
                        Already a member?
                    </div>
                    <div class='form-input-column col-xs-6 col-sm-6 col-md-6 col-lg-6'>
                        <p><input type='submit' class='btn btn-default' value='Click here'/></p>
                    </div>
                </form>

                {% endcolumn %}
            {% endrow %}

        {% endcontainer %}
    </div>
    <!-- end bodywrap -->

{% endblock %}
