{% extends 'base.html' %}
{% load bootstrap_ui_tags %}
{% load tz %}


{% block title %}OOLONG{% endblock %}

{% block content %}

    <!-- headerwrap -->
    <div id="headerwrap">
        {% container %}
            {% row %}
                <div class="col-lg-6 col-lg-offset-3">
                    <h1>OOLONG</h1>
                </div>
            {% endrow %}
        {% endcontainer %}
    </div>
    <!-- end headerwrap -->

    <!-- bodywrap -->
    <div id="bodywrap">
        {% container %}
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        {% endcontainer %}
    </div>
    <!-- end bodywrap -->


{% endblock %}
