{% extends 'base.html' %}
{% load bootstrap_ui_tags %}

{% block title %}OOLONG{% endblock %}

{% block content %}

    <!-- headerwrap -->
    <div id="headerwrap">
        {% container %}
            {% row %}
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>OOLONG is an app for tracking how our everyday choices impact our mood.<h2> 
                </div>
            {% endrow %}
        {% endcontainer %}
    </div>
    <!-- end headerwrap -->

    <!-- bodywrap -->
    <div id="bodywrap" class="lead">
        {% container %}
        <p>Users are able to report <a href="/submit_metric">activities</a> 
        such as excercise, sleeping and eating; at the end of each day, 
        they fill out a <a href="/submit_questionnaire/">mood questionnaire</a> 
        which keeps track of how their <a href="https://en.wikipedia.org/wiki/Affect_(psychology)">
        affect</a> changes over time.</p>

        <p>With these data, we can better understand how much our mood can be
        adjusted by our everyday choices.</p>
        {% endcontainer %}

    </div>
    <!-- end bodywrap -->


{% endblock %}
