{% extends 'base.html' %}
{% load bootstrap3 %}
{% load bootstrap_ui_tags %}
{% load render_table from django_tables2 %}

{% block title %}Submit metric{% endblock %}

{% block content %}

    <!-- bodywrap -->
    <div id="bodywrap">
        {% container %}

            {% if action %}<p class="lead">{{action|title}} metric</p>{% endif %}

            <!-- activity icons -->
            {% include "includes/activity_icons.html" %}

            <!-- success message -->
            {% include "includes/success.html" %}

            <!-- serror message -->
            {% include "includes/error.html" %}

            <!-- metric form -->
            {% include "includes/metric_form.html" %}

            <!-- list of user activities -->
            {% include "includes/metric_table.html" %}

        {% endcontainer %}
    </div>
    <!-- end bodywrap -->

    <script>

        var start_id = '#id_time_stamp'
        var end_id = '#id_end'

        var picker_format = {
            format: "YYYY-MM-DD H:mm:ss",
            ignoreReadonly: true, // https://github.com/Eonasdan/bootstrap-datetimepicker/issues/1668
            allowInputToggle: true,
            showTodayButton: true,
            showClose: true,
        }

        jQuery(function () {
            // we show/hide start to autopopulate with
            // user's current time - a little dirty ...
            if (jQuery(start_id).length) {
                var start_picker = jQuery(start_id).datetimepicker(picker_format)

                start_picker.on("dp.show", function(e) {
                    // show time by default
                    $('[data-action=togglePicker]').click();
                })

                start_picker.data("DateTimePicker").show().hide();
            }

            jQuery(end_id).datetimepicker(picker_format);

            // set the end timestamp to the start timestamp if the default
            // end timestamp is before the end timestamp
            jQuery(end_id).on("dp.show", function (e) {
                var start = jQuery(start_id).data('DateTimePicker').date()
                var end = jQuery(end_id).data('DateTimePicker').date()

                // show time by default
                $('[data-action=togglePicker]').click();

                if (end < start) {
                    jQuery(end_id).data('DateTimePicker').date(start);
                }
            });
        });

    </script>


{% endblock %}
