{% extends 'base.html' %}
{% load bootstrap3 %}
{% load bootstrap_ui_tags %}

{% block title %}Submit metric{% endblock %}

{% block content %}

    <!-- bodywrap -->
    <div id="bodywrap">
        {% container %}
            {% if success %}
                {% row %}
                    {% column xs="12" sm="3" %}
                        <div class="alert alert-success" role="alert">
                            Metric successfully submitted.
                        </div>
                    {% endcolumn %}
                {% endrow %}
            {% elif error %}
                {% row %}
                    {% column xs="12" sm="3" %}
                        <div class="alert alert-danger" role="alert">
                            An error occurred, please try again.
                        </div>
                    {% endcolumn %}
                {% endrow %}
            {% else %}
                {% row %}
                    {% column xs="12" sm="3" %}
                        {% if activity_form %}
                            <form method="get">
                                {% csrf_token %}
                                {% bootstrap_form activity_form %}
                            </form>
                        {% endif %}
                    {% endcolumn %}
                {% endrow %}
                {% row %}
                    {% column %}
                        {% if metric_form %}
                            <hr>
                            <form method="post">
                                {% csrf_token %}
                                {% bootstrap_formset metric_form %}
                                <button type="submit" class="btn btn-info pull-right">Submit</button>
                            </form>
                        {% endif %}
                    {% endcolumn %}
                {% endrow %}
            {% endif %}
        {% endcontainer %}
    </div>
    <!-- end bodywrap -->

    <script>
        jQuery('#id_activity').change(function(){
            window.location = '?activity=' + jQuery(this).val();
        })

        jQuery(function () {
            jQuery("#id_form-0-start").datetimepicker({
                sideBySide: true,
                format: "YYYY-MM-DD H:mm:ss"
            });
            jQuery("#id_form-0-end").datetimepicker({
                sideBySide: true,
                format: "YYYY-MM-DD H:mm:ss"
            });
        });
    </script>


{% endblock %}
