{% extends 'base.html' %}
{% load bootstrap3 %}
{% load bootstrap_ui_tags %}
{% load render_table from django_tables2 %}

{% block title %}Submit metric{% endblock %}

{% block content %}

    <style>
        svg {
            display: block;
        }
        html, body, #chart1, svg {
            margin: 0px;
            padding: 0px;
            height: 100%;
            width: 100%;
        }

    </style>

    <!-- bodywrap -->
    <div id="bodywrap">
        {% container %}

            <div id="chart1"></div>

        {% endcontainer %}
    </div>
    <!-- end bodywrap -->

    <script>
        jQuery(function () {
            var chart;

            // select "date", extract('epoch' from "date")::numeric::integer epoch, questionniare, avg(score), stddev_samp(score) as std from (
            // select t1.id, "date"::date, score, questionnaire_id as questionniare
            // FROM public.response t1
            // left join available_response t2 on t1.response_id = t2.id
            // where questionnaire_id != 'Summary'
            // ) t3
            // group by questionniare, "date"
            // order by "date", questionniare


            var lookup = {
                1:'Strongly disagree',
                2:'Disagree',
                3:'Neutral',
                4:'Agree',
                5:'Strongly agree',
            }

            var data = d3.nest()
                        .key(function(d) { return d.questionniare })
                        .rollup(function(d) { return d.map(function(i) { return {x:i.epoch*1000, y:i.avg} }) })
                        .entries(dat)

            nv.addGraph(function() {

                chart = nv.models.lineChart()
                    .options({
                        duration: 300,
                        useInteractiveGuideline: true,
                        margin: {left: 100},
                    })
                ;

                chart.xAxis
                    .axisLabel("Date")
                    .tickFormat(function(d) {
                        return d3.time.format('%Y-%m-%d')(new Date(d))
                    })

                chart.yAxis
                    .showMaxMin(true)
                    .ticks(5)
                    .tickFormat(function(d) {
                        return lookup[d];
                    })


                d3.select('#chart1').append('svg')
                    .datum(data)
                    .call(chart);

                nv.utils.windowResize(chart.update);

                return chart;
            });
        });


    </script>

{% endblock %}
