{% extends 'base.html' %}
{% load bootstrap3 %}
{% load bootstrap_ui_tags %}
{% load render_table from django_tables2 %}

{% block title %}Submit metric{% endblock %}

{% block content %}

    <!-- bodywrap -->
    <div id="bodywrap" class="plot">
        {% container type="fluid" %}
            {% row %}
                {% column %}
                    {% if plotdat %}
                        <div id="chart"></div>
                    {% else %}
                        <p class="lead" style="padding-left:15px;">No data found for {{ user.get_username }}; please fill out the <a href='/submit_questionnaire/'>questionnaire</a> first.</p>
                    {% endif %}
                {% endcolumn %}
            {% endrow %}
        {% endcontainer %}
    </div>
    <!-- end bodywrap -->

    <script>
        jQuery(function () {
            if (typeof {{plotdat|safe}} !== 'undefined') {
                render_response_plot({{plotdat|safe}}, 'avg')
            }
        })
    </script>

{% endblock %}
