{% extends 'base.html' %}
{% load bootstrap3 %}
{% load bootstrap_ui_tags %}
{% load render_table from django_tables2 %}

{% block title %}Submit metric{% endblock %}

{% block content %}

    <!-- bodywrap -->
    <div id="bodywrap" class="plot">
        {% container type="fluid" %}
            {% row %}
                <div class="col-xs-12" id="chart"></div>
            {% endrow %}
        {% endcontainer %}
    </div>
    <!-- end bodywrap -->

    <script>
        jQuery(function () {
            render_response_plot({{plotdat|safe}})
        })
    </script>

{% endblock %}
