{% extends 'base.html' %}
{% load bootstrap3 %}
{% load bootstrap_ui_tags %}

{% block title %}Submit questionnaire{% endblock %}

{% block content %}

    <!-- bodywrap -->
    <div id="bodywrap">
        {% container %}
            {% row %}
                <p class="lead">{{questionnaire.form_header|safe}}<p>
            {% endrow %}
            {% row %}
                {% column %}
                    <form method="post" class="form-horizontal">
                        {% csrf_token %}
                        {% for q in questions %}
                            <div class="form-group">
                                <label class="col-sm-5 control-label">{{q}}</label>
                                <div class="col-sm-3">
                                    <select class="form-control" id="q{{q.id}}">
                                    {% for i in responses %}
                                        <option value="{{i.score}}">{{i}}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-info pull-right">Submit</button>
                    </form>
                {% endcolumn %}
            {% endrow %}
        {% endcontainer %}
    </div>
    <!-- end bodywrap -->


{% endblock %}
