{% extends 'base.html' %}
{% load bootstrap3 %}
{% load bootstrap_ui_tags %}

{% block title %}Sucess{% endblock %}

{% block content %}

    <!-- bodywrap -->
    <div id="bodywrap">
        {% container %}
            {% row %}
                {% column %}
                    <div class="alert alert-success alert-auto-width" role="alert">
                        {% if not request.user.is_anonymous %}
                            Everything submitted properly!
                        {% else %}
                            Everything submitted properly (had you been 
                            <a href="/login">logged in</a>)!
                        {% endif %}
                    </div>
                {% endcolumn %}
            {% endrow %}
        {% endcontainer %}
    </div>
    <!-- end bodywrap -->

{% endblock %}
