{% extends 'base.html' %}
{% load bootstrap3 %}
{% load bootstrap_ui_tags %}

{% block title %}Sucess{% endblock %}

{% block content %}

    <!-- bodywrap -->
    <div id="bodywrap">
        {% container %}
            {% row %}
                {% column xs="3" %}
                    <div class="alert alert-success" role="alert">Everything submitted properly!</div>
                {% endcolumn %}
            {% endrow %}
        {% endcontainer %}
    </div>
    <!-- end bodywrap -->

{% endblock %}
