{% load bootstrap_ui_tags %}

<!-- expects the var `activities` to be a list of Activity model objects -->
{% row %}
    <div class='col-xs-12 button-wrapper'>
        {% for activity in activities %}
            <a href='?activity={{activity.id}}' type="button" class="btn {% if action == 'edit' %}btn-warning{% else %}btn-info{% endif %}">
                <i class="fas {{activity.icon}} fa-2x" style="vertical-align: middle;"></i><span class="activity-label"> {{activity.name}}</span>
            </a>
        {% endfor %}
    </div>
{% endrow %}

{% if selected_activity %}
    <hr>
    {% row %}
        {% column %}
            <a id="anchor">
                <h2><code>{{selected_activity}}</code></h2>
            </a>
        {% endcolumn %}
    {% endrow %}
{% endif %}
