{% load bootstrap_ui_tags %}

<!-- expects the var `activities` to be a list of Activity model objects -->
{% row %}
    <div class='col-xs-12 button-wrapper'>
        {% for activity in activities %}
            <a href='?activity={{activity.id}}' type="button" class="btn {% if action == 'edit' %}btn-warning{% else %}btn-info{% endif %}">
                <i class="fas {{activity.icon}} fa-2x" style="vertical-align: middle;"></i><span class="activity-label"> {{activity.name}}</span>
            </a>
        {% endfor %}
    </div>
{% endrow %}

{% if selected_activity %}
    <hr>
    {% row %}
        {% column xs="10" %}
            <a id="anchor">
                <h2><code>{{selected_activity}}</code></h2>
            </a>
        {% endcolumn %}
        {% column xs="2" %}
            <div class="btn-group pull-right" role="group" aria-label="...">
                <a class="btn btn-primary btn-sm" href="?activity={{request.GET.activity}}&yesterday" role="button">Yesterday</a>
                <a class="btn btn-primary btn-sm" href="?activity={{request.GET.activity}}&today" role="button">Today</a>
            </div>
        {% endcolumn %}
    {% endrow %}
{% endif %}
