{% load bootstrap_ui_tags %}

{% row %}
    <div class='col-xs-12 button-wrapper icons'>
        {% for activity in activities %}
            <a href='?activity={{activity.id}}' type="button" class="btn {{btn_class}}">
                <i class="fas {{activity.icon}} fa-2x" style="vertical-align: middle;"></i><span class="activity-label"> {{activity.name}}</span>
            </a>
        {% endfor %}
        <a href="/{{action}}_questionnaire" type="button" class="btn {% if action == 'edit' %}btn-warning{% else %}btn-info{% endif %}">
            <i class="fas fa-list-ol fa-2x" style="vertical-align: middle;"></i><span class="activity-label"> Questionnaire</span>
        </a>
    </div>
{% endrow %}

{% if selected_activity %}
    <hr>
    {% row %}
        {% column xs="6" %}
            <a id="anchor">
                <p class="lead">{{selected_activity}}</code></p>
            </a>
        {% endcolumn %}
        {% column xs="6" %}
            {% if action == 'edit' %}
                <div class="btn-group pull-right" role="group" aria-label="...">
                    <a class="btn btn-info btn-sm" href="/submit_metric/?activity={{request.GET.activity}}" role="button">Add</a>
                </div>
            {% else %}
                <div class="btn-group pull-right" role="group" aria-label="...">
                    <a class="btn btn-warning btn-sm" href="/edit_metric/?activity={{request.GET.activity}}" role="button">Edit</a>
                </div>
            {% endif %}
        {% endcolumn %}
    {% endrow %}
    {% if action == 'edit' %}
        {% row %}
            {% column %}
                <div class="btn-group" role="group" aria-label="...">
                    <a class="btn btn-primary btn-sm" href="?activity={{request.GET.activity}}&yesterday" role="button">Yesterday</a>
                    <a class="btn btn-primary btn-sm" href="?activity={{request.GET.activity}}&today" role="button">Today</a>
                </div>
            {% endcolumn %}
        {% endrow %}
    {% endif %}
{% endif %}
