{% load bootstrap_ui_tags %}
{% load bootstrap3 %}

<!-- expects the var `metric_form` to be a valid Django form -->
<!-- expects the var `selected_activity` to be a string -->
{% if metric_form %}
    {% row %}
        {% column %}
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form metric_form %}
                <div class="btn-group pull-right" role="group" aria-label="...">
                    {% if action == 'edit' %}
                        <a href='?activity={{selected_activity.id}}' type="btn" class="btn btn-warning">Cancel</a>
                    {% endif %}
                    <button type="submit" class="btn btn-info">
                        {% if action == 'submit' %} Submit {% else %} Save {% endif %}
                    </button>
                </div>
            </form>
        {% endcolumn %}
    {% endrow %}
{% endif %}

