{% load bootstrap_ui_tags %}

 <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    {% container type="fluid" %}
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">OOLONG</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li class="{% if request.resolver_match.url_name == "submit_metric" %}active{% endif %}"><a href="/submit_metric">New metric</a></li>
                    <li class="{% if request.resolver_match.url_name == "edit_metric" %}active{% endif %}"><a href="/edit_metric">Edit metric</a></li>
                    <li class="{% if request.resolver_match.url_name == "questionnaire" %}active{% endif %}"><a href="/questionnaire">Questionnaire</a></li>
                    <li><a href='/log_out/'>Log out</a></li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    {% endcontainer %}
</div>
