{% load bootstrap_ui_tags %}

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    {% container type="fluid" %}
        <ul class="nav navbar-nav navbar-left">
            <li>
                <a class="navbar-brand" href="/">OOLONG</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
                <li class="{% if request.resolver_match.url_name == "submit_metric" %}active{% endif %}">
                    <a href="/submit_metric"><i class="fas fa-plus-circle fa-lg"></i></a>
                </li>
                <li>
                    <a href='/plot'><i class="fas fa-chart-line fa-lg"></i></a>
                </li>
            {% if user.is_authenticated %}
                <li>
                    <a href='/log_out/'><i class="fas fa-sign-out-alt fa-lg"></i></a>
                </li>
            {% else %}
                <li>
                    <a href='/login/'><i class="fas fa-sign-in-alt fa-lg"></i></a>
                </li>
            {% endif %}
        </ul>
    {% endcontainer %}
</div>
