
/* ==========================================================================
   Base Styles, Bootstrap Modifications & Fonts Import
   ========================================================================== */

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


::-moz-selection {
    background: #f2c2c9;
    color: #a4003a;
    text-shadow: none;
}

::selection {
    background: #16a085;
    color: #a4003a;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/* force scrollbar */
body {
    overflow-y: scroll;
}


/* ==========================================================================
   General styles
   ========================================================================== */


body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
    color: #4a4a4a;
}


.navbar-brand {
    font-weight: 700;
}

.navbar-default .navbar-brand {
    color: #1abc9c;
}

.navbar-default {
    /*background-color: transparent; */
    border-color: transparent;
    font-size: 16px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #1abc9c;
    background-color: transparent;
    border-bottom: 2px solid #1abc9c
}

.navbar-default .navbar-nav > li > a {
    color: #1abc9c;
}

.name-header {
    margin-bottom: 50px;
}

.api-data-table-header {
    text-align: left;
    margin: 2px;
}

.smiles-container {
    padding-top: 20px;
}

/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
    margin-top: -70px;
    padding-top: 150px;
    text-align:center;
    background-attachment: relative;
    background-position: center center;
    min-height: 250px;
    width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
    color:#4a4a4a;
    padding-top: 10px;
    padding-bottom: 20px;
    letter-spacing: 4px;
    font-size: 80px;
    font-weight: bold;
}

#headerwrap h4 {
    font-weight: 400;
    color:#4a4a4a;
}

#footerwrap {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #2f2f2f;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

#footerwrap p {
    color: #f2f2f2;
    margin-left: 10px;
}

#bodywrap {
    margin-top: -70px;
    padding-top: 150px;
    padding-bottom: 150px;
    background-attachment: relative;
    background-position: center center;
    /*min-height: 650px; */
    width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#bodywrap h1 {
    color:#ffffff;
    padding-top: 10px;
    padding-bottom: 20px;
    letter-spacing: 4px;
    font-size: 80px;
    font-weight: bold;
}

.mt {
    margin-top: 20px;
}

.table-condensed {
    font-size: 80%;
}

.required label::after {
    content: " *";
    color: #1abc9c;
}

.button-wrapper .btn {
    margin-bottom:5px;
}

.noUi-value, .noUi-marker-large { visibility: hidden; }

a#anchor:hover {
    text-decoration: none;
}

/* https://stackoverflow.com/a/11842865/1153897 */
a#anchor h2 {
    padding-top: 60px;
    margin-top: -60px;
}

a#anchor {
    color: #333;
}

.icons {
    margin-top: 10px;
}

/* https://github.com/Eonasdan/bootstrap-datetimepicker/issues/1668 */
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control { 
    background-color: #fff !important; 
    opacity: 1; 
}

@media (max-width:767px){
    .activity-label {display:none;} /* hide button labels on mobile */
}

svg {
    display: block;
}
svg, .plot > .container-fluid {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}
#chart {
    height: 400px;
}

/* don't collapse mobile navbar */
.navbar {
    height: 52px !important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}
